.cortina {
  position: absolute;
  top: 0;
  width: 200%;
  height: 99vh;
  background-color: var(--primary);
  z-index: 100;
  animation: cortinas 0.5s ease-in-out forwards;
}

.body-container {
  display: flex;
  gap: 20px;
}
section {
  overflow-x: hidden;
}

.card {
  display: flex;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 15px;

  strong {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
}
.card-atalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 15px;
  min-width: 200px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
  }

  span,
  p {
    cursor: pointer;
  }
}