.body-container {
  display: flex;
  gap: 20px;
}
section {
  overflow-x: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 15px;

  strong {
    font-family: "Montserrat", sans-serif;
  }
}
.card-atalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 15px;
  min-width: 200px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
  }

  span,
  p {
    cursor: pointer;
  }
}