*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 62.5%;
  text-decoration: none;
  cursor: default;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.2s linear;
}
*::selection {
  color: var(--primary);
  background-color: var(--bg);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--secondary);
  background-color: var(--bg);
  overflow-x: hidden;
  transition: background 0.2s linear;
}