::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {

  margin: 10px 0px;
}
::-webkit-scrollbar-thumb {
  color: var(--secondary);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  border-color: var(--sombra-2);
}
