.font-primary {
  font-family: "Zen Dots", sans-serif;
}

.ativo {
  background-color: var(--theme) !important;
  color: white !important;
}

#menu a.ativo span {
  color: var(--primary) !important;
}

#transacoes::-webkit-scrollbar-track,
#dashboard::-webkit-scrollbar-track,
#transacoes-container::-webkit-scrollbar-track,
#contas::-webkit-scrollbar-track {
  margin: 0;
  background-color: transparent;
}
#transacoes-container::-webkit-scrollbar-thumb {
  border: 3px solid var(--tertiary);
}
#contas::-webkit-scrollbar-thumb,
#transacoes::-webkit-scrollbar-thumb,
#dashboard::-webkit-scrollbar-thumb {
  border: 3px solid var(--bg);
}

input::placeholder {
  color: var(--secondary) !important;
}
