.font-primary {
  font-family: "Zen Dots", sans-serif;
}

.ativo {
  background-color: black !important;
  color: white !important;
}
.border-primary {
  border: 2px solid var(--secondary);
}
.border-secondary {
  border: 2px solid var(--primary);
}

.checkbox {

  &:checked + label .circulo {
    transform: translateX(29px);
  }
}

#menu a.ativo span {
  color: var(--primary) !important;
}

#transacoes-container::-webkit-scrollbar-track,
#contas::-webkit-scrollbar-track {
  margin: 0;
  background-color: transparent;
}
#transacoes-container::-webkit-scrollbar-thumb,
#contas::-webkit-scrollbar-thumb {
  border: 3px solid var(--tertiary);
}

input::placeholder {
  color: var(--secondary) !important; /* Cor laranja como exemplo */
}
