footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .creditos-footer {
    border-radius: 15px;
    width: 100%;
    margin-top: 10px;

    p {
      color: var(--secondary);
      font-size: 2rem;
      text-align: center;
    }
    a {
      position: absolute;
      top: 5px;
      right: 20px;

      ion-icon {
        color: var(--secondary);
        font-size: 3rem;
        cursor: pointer;

        &:hover {
          color: var(--tertiary);
        }
      }
    }
  }
}