:root {
  --primary: rgb(255, 255, 255);
  --secondary: black;
  --tertiary: #e5e7eb;
  --bg: #d1d5db; 
  --sombra: #e5e7eb;
  --sombra-2: rgb(65, 65, 65);
  --green: rgb(23, 179, 23);
}

.dark-mode {
  --primary: #323239;
  --secondary: white;
  --tertiary: #272729; 
  --bg: #18181b;
  --sombra: rgb(50, 50, 50);
  --sombra-2: #a0a0a0;
}