:root {
  --primary: rgb(255, 255, 255);
  --secondary: black;
  --tertiary: #e2e8f0;
  --bg: #cbd5e1; 

  --theme: #0ea5e9;
  --shadow: #bae6fd;
  --green: #20bb59;
  --red: #dc2626;
}

.dark-mode {
  --primary: #323239;
  --secondary: white;
  --tertiary: #272729; 
  --bg: #18181b;
  --sombra: rgb(50, 50, 50);
  --sombra-2: #a0a0a0;
}